# requirements for continuous integration environment
# (install with "python bootstrap.py --ci")
# note: this will also be installed in a development environment!

nose
django-nose
-e git://github.com/cmheisel/nose-xcover.git#egg=nose-xcover
coverage
unittest-xml-reporting
