# common requirements

Django
django-extensions
-e hg+http://bitbucket.org/ubernostrum/django-registration/#egg=django-registration
django-piston
simplejson
Fabric
#django-fab==1.0.4
yolk
Sphinx
South
